@charset "UTF-8";
img {
    max-width: 100%;
}

.content .items {
    padding: 100px 0;
}

.content .items .item {
    padding: 10px 0;
}

.content .items .pages .text {
    margin-top: 20px;
}

.content .items .pages li:nth-last-child(2) a {
    border-right: 0;
}

.content .items .pages .goPage .input-group {
    width: 12%;
}

.content .items .pages .goPage .input-group .form-control {
    border-radius: 0;
}

.content .map {
    padding: 20px 0;
    position: relative;
}

.content .map .btn-box {
    margin: 10px 0;
}